@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ======== stream css overrides ======== */
.str-video__call-stats {
  max-width: 500px;
  position: relative;
}

.bg-dark-1 {
  --tw-bg-opacity: 1;
  background-color: rgb(49, 49, 52);
}
.bg-dark-2 {
  --tw-bg-opacity: 1;
  background-color: rgb(0, 0, 0);
}

.str-video__speaker-layout__wrapper {
  max-height: 700px;
}

.str-video__participant-details,
.str-video__menu-container,
.str-video__notification {
  color: #ffffff;
}

.str-video__participant-list {
  background-color: #2b2d31; /* Discord-like dark gray */
  padding: 10px;
  border-radius: 10px;
  color: #ffffff;
  height: 100%;
}

.str-video__call-controls__button {
  height: 40px;
  background-color: #5865f2; /* Discord blurple */
  color: white;
  border-radius: 6px;
  transition: background 0.3s ease;
}
.str-video__call-controls__button:hover {
  background-color: #4752c4;
}

/* ==== glassmorphism ==== */
.glassmorphism {
  background: rgba(43, 45, 49, 0.4);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.05);
}
.glassmorphism2 {
  background: rgba(18, 18, 18, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.05);
}

/* ==== clerk override ===== */

.cl-userButtonPopoverActionButtonIcon,
.cl-userButtonPopoverActionButton,
.cl-internal-wkkub3 {
  color: #ffffff;
}

.cl-logoBox {
  height: 40px;
}

.cl-dividerLine {
  background: #3e4045;
  height: 2px;
}

.cl-socialButtonsIconButton {
  border: 2px solid #5865f2;
}

.cl-providerIcon__github {
  filter: invert(1);
}

/* =============================== */

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }
}

/* ==== animation ==== */

.show-block {
  width: 100%;
  max-width: 350px;
  display: block;
  animation: show 0.7s forwards linear;
}

@keyframes show {
  0% {
    animation-timing-function: ease-in;
    width: 0%;
  }

  100% {
    animation-timing-function: ease-in;
    width: 100%;
  }
}

.bg-orange-1 {
  --tw-bg-opacity: 1;
  background-color: rgb(104 182 98);
}

.bg-yellow-1 {
  --tw-bg-opacity: 1;
  background-color: rgb(249 44 14);
}

.rounded-\[14px\] {
  border-radius: 50px;
}
